display: flex;
  margin: 0%;
  height: 100vh;
  width: 100vh;
  justify-content: center;
  /* centers horizontally */
  align-items: center;
  /* centers vertically */
}



display: flex;
 flex-direction: column;
 /* stack items vertcally */
 justify-content: center;
 /* center vertically */
 align-items: center;
 /* center horizontally */
 height: 100vh;
 /* full viewport height */


 display: grid;
  place-items: center;
  /* center both horizontally and vertically */
  height: 100vh;



  width: 90%;
  margin: 0 auto;
 